#Ignore everything in datafolder and subdirectories
/data/**/*

#Ignore compiled files and other files generated during compilation.
*.mdme
*.log
*.int
*.rsc
*.dmb
*.lk
info.json

# WinMerge backups
*.bak

#ignore any files in config/, except those in subdirectories.
!/config/*/*

# Player preferences
players2.sqlite

# Backup maps created by maptools
*.dmm.backup
*.dmm.before

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
#*.cab
#*.msi
#*.msm
#*.msp

# Windows shortcuts
*.lnk